body {
    background-color: #111217;
}

.fire {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 20vw;
    height: 20vw;

    -webkit-transform: translate(-50%, -25%);
    -moz-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
}

.fire .flames {
    position: absolute;
    bottom: 40%;
    left: 50%;

    width: 40%;
    height: 40%;

    -webkit-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

.fire .flames .flame {
    position: absolute;
    right: 0%;
    bottom: 0%;

    width: 0%;
    height: 0%;

    border-radius: 1vw;
    background-color: #FFDC01;
}

.fire .flames .flame:nth-child(2n + 1) {
    -webkit-animation: flameodd 1.5s ease-in infinite;
    -moz-animation: flameodd 1.5s ease-in infinite;
    animation: flameodd 1.5s ease-in infinite;
}

.fire .flames .flame:nth-child(2n) {
    -webkit-animation: flameeven 1.5s ease-in infinite;
    -moz-animation: flameeven 1.5s ease-in infinite;
    animation: flameeven 1.5s ease-in infinite;
}

.fire .flames .flame:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}

.fire .flames .flame:nth-child(2) {
    -webkit-animation-delay: 0.375s;
    -moz-animation-delay: 0.375s;
    animation-delay: 0.375s;
}

.fire .flames .flame:nth-child(3) {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.fire .flames .flame:nth-child(4) {
    -webkit-animation-delay: 1.125s;
    -moz-animation-delay: 1.125s;
    animation-delay: 1.125s;
}

.fire .logs {
    position: absolute;
    bottom: 25%;
    left: 50%;

    width: 100%;
    height: 10%;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.fire .logs:before, .fire .logs:after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 100%;

    content: '';
    -webkit-transform: translate(-50%, -50%) rotate(20deg);
    -moz-transform: translate(-50%, -50%) rotate(20deg);
    transform: translate(-50%, -50%) rotate(20deg);

    border-radius: 1vw;
    background-color: #70392F;
}

.fire .logs:before {
    -webkit-transform: translate(-50%, -50%) rotate(-20deg);
    -moz-transform: translate(-50%, -50%) rotate(-20deg);
    transform: translate(-50%, -50%) rotate(-20deg);

    background-color: #612E25;
}

@-webkit-keyframes flameodd {
    0%, 100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        z-index: 1000000;

        background-color: #FFDC01;
    }
    40% {
        z-index: 1000000;

        background-color: #FDAC01;
    }
    100% {
        z-index: -10;

        background-color: #F73B01;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 1%;
        bottom: 2%;
    }
    100% {
        right: 150%;
        bottom: 170%;
    }
}

@keyframes flameodd {
    0%, 100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        z-index: 1000000;

        background-color: #FFDC01;
    }
    40% {
        z-index: 1000000;

        background-color: #FDAC01;
    }
    100% {
        z-index: -10;

        background-color: #F73B01;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 1%;
        bottom: 2%;
    }
    100% {
        right: 150%;
        bottom: 170%;
    }
}

@-webkit-keyframes flameeven {
    0%, 100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        z-index: 1000000;

        background-color: #FFDC01;
    }
    40% {
        z-index: 1000000;

        background-color: #FDAC01;
    }
    100% {
        z-index: -10;

        background-color: #F73B01;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 2%;
        bottom: 1%;
    }
    100% {
        right: 170%;
        bottom: 150%;
    }
}

@keyframes flameeven {
    0%, 100% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 100%;
        height: 100%;
    }
    0% {
        z-index: 1000000;

        background-color: #FFDC01;
    }
    40% {
        z-index: 1000000;

        background-color: #FDAC01;
    }
    100% {
        z-index: -10;

        background-color: #F73B01;
    }
    0% {
        right: 0%;
        bottom: 0%;
    }
    25% {
        right: 2%;
        bottom: 1%;
    }
    100% {
        right: 170%;
        bottom: 150%;
    }
}
