body {
  overflow:hidden;

  height: 100vh;
  margin:0;

  background: url(../images/bg-mac.jpg);
  background-repeat: none;
  background-size: cover;

  font-family: 'Source Code Pro';
}

/*topbar*/
.topbar{
  z-index:999;

  width:100%;
  height: 27px;
  padding-left: 25px;

  border-radius: 0px 5px 0px;
  background: rgba(255,255,255,0.8);
  -webkit-box-shadow: 3px 3px 50px 6px #696969;
  -moz-box-shadow:    3px 3px 50px 6px #696969;
  box-shadow:         3px 3px 50px 6px #696969;

  font-size: 20px;
  line-height: 1.2;
}
.topbar-icons{
  padding-top: 3px;

  font-size: 0.8em;
}
.grey-text{
  color: grey;
}
.mac-settings{
  position: fixed;
  right: 10px;
}
.mac-user{
  position: fixed;
  right: 40px;
}
.mac-search{
  position: fixed;
  right: 70px;
}
.mac-username{
  position: fixed;
  right: 100px;

  font-family: 'Open Sans', sans-serif;
}

/*desktop*/
button {
  position: absolute;

  margin: 30px;
  padding: 10px;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 3px;
  outline: 0;
  background: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px #333;

  font-family: 'Open Sans', sans-serif;
}
button:hover {
  background: rgba(255, 255, 255, 0.3);
}
button span {
  color: #FFF;
  text-shadow: 0 0 8px #333;

  font-size: 14px;
}
#trash{
  right: 30px;
  bottom: 30px;

  text-shadow: 0 0 8px #333;
}

/*app*/
.app {
  position: absolute;

  overflow: hidden;

  width: 700px;
  margin: 111px 222px;

  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px #333;
}
.larger {
  width: 1000px;
}
.top {
  position: relative;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;

  cursor: move;

  background: #ECEBED; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ECEBED, #D7D6D8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ECEBED, #D7D6D8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ECEBED, #D7D6D8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ECEBED, #D7D6D8); /* Standard syntax */
}
.buttons {
  position: relative;
  z-index: 1;

  float: left;

  width: 33%;
}
.circle {
  float: left;

  width: 13px;
  height: 13px;
  margin: 2px 10px 0 0;

  cursor: pointer;

  border-radius: 50%;
}
.circle:nth-child(1) {
  background: #FF5E51;
}
.circle:nth-child(1):hover {
  background: #ea1100;
}
.circle:nth-child(2) {
  background: #FEBB00;
}
.circle:nth-child(2):hover {
  background: #987000;
}
.circle:nth-child(3) {
  background: #18CF37;
}
.circle:nth-child(3):hover {
  background: #0d741f;
}
.clear {
  clear: left;
}
.title {
  z-index: 0;

  float: left;

  width: 33%;
  margin-left: -10px;

  text-align: center;

  color: #575658;

  font-weight: bold;
}
.info {
  float: right;

  width: 33%;

  text-align: right;

  color: #575658;
}
.main {
  position: relative;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 50px 40px;

  background: #f9f8f7;
}
.content {
  margin-top: 40px;
}
