#mainDesktop{
  height: 100vh;

  background: url(../images/bg_large.jpg);
  background-repeat: none;
  background-size: cover;
}
/*desktop*/
button {
  position: absolute;

  margin: 30px;
  padding: 10px;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 3px;
  outline: 0;
  background: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px #333;

  font-family: 'Open Sans', sans-serif;
}
button:hover {
  background: rgba(255, 255, 255, 0.3);
}
button span {
  color: #FFF;
  text-shadow: 0 0 8px #333;

  font-size: 14px;
}
#trash{
  top: 15px;
  right: 15px;

  text-shadow: 0 0 8px #333;
}

/*app*/
.app {
  position: absolute;

  overflow: hidden;

  width: 700px;
  margin: 111px 222px;

  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px #333;
}
.larger {
  width: 1000px;
}
.top {
  position: relative;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px;

  cursor: move;

  background: #ECEBED; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ECEBED, #D7D6D8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ECEBED, #D7D6D8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ECEBED, #D7D6D8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ECEBED, #D7D6D8); /* Standard syntax */
}
.buttons {
  position: relative;
  z-index: 1;

  float: left;

  width: 33%;
}
.circle {
  float: left;

  width: 13px;
  height: 13px;
  margin: 2px 10px 0 0;

  cursor: pointer;

  border-radius: 50%;
}
.circle:nth-child(1) {
  background: #FF5E51;
}
.circle:nth-child(1):hover {
  background: #ea1100;
}
.circle:nth-child(2) {
  background: #FEBB00;
}
.circle:nth-child(2):hover {
  background: #987000;
}
.circle:nth-child(3) {
  background: #18CF37;
}
.circle:nth-child(3):hover {
  background: #0d741f;
}
.clear {
  clear: left;
}
.title {
  z-index: 0;

  float: left;

  width: 33%;
  margin-left: -10px;

  text-align: center;

  color: #575658;

  font-weight: bold;
}
span.address {
  position:relative;

  display:inline-block;

  width:300px;
  margin-left:5px;
  padding:0;

  text-align:center;

  border-radius: 2px;
  background:#fff;

  line-height:23px;
}
span.address > input {
  position:relative;

  width:200px;

  text-align:center;

  color:#505050;
  border:none;
  background:none;

  font-size:12px;
}
span.address > input:focus {
  outline:none;
}
span.address > input.class {
  text-align:left;
}
#download{
  float:right;

  cursor: pointer;

  color: #505050;

  font-size: 20px;
}
#download:hover{
  color: #147CFF;
}

.info {
  float: right;

  width: 33%;

  text-align: right;

  color: #575658;
}
.main {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  background: #f9f8f7;
}
.content {
  overflow-y: scroll;

  max-height: 390px;
  margin-top: 40px;
}

/*dock*/
nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 53px;
  width: 470px;
  box-sizing: border-box;
  padding: 4px;
  background: rgba(89, 108, 103, 0.8);
  transform: translateX(-50%);
  border-radius: 5px 5px 0 0;
}

nav hr {
  display: inline-block;
  width: 1px;
  background: #274846;
  height: 85%;
  vertical-align: top;
  margin-top: 3px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}

nav .icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.5s;
}

nav img {
  width: 40px;
  height: 40px;
  transition: 0.5s;
}

label {
  position: absolute;
  margin-top: -50px;
  color: #050505;
  font-family: Helvetica, calibri, sans-serif;
  font-weight: 100;
  font-size: 14px;
  background: #F6F6F6;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 100;
  display: none;
}

label::before,
label::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background: #F6F6F6;
  z-index: -1;
}

label::before {
  bottom: -5px;
  transform: translateX(-50%) rotateZ(45deg);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

label::after {
  transform: translateX(-50%);
  bottom: 0;
  width: 40px;
  height: 20px;
}

nav .icon:hover > label {
  display: block;
  opacity: 0.75;
}

nav .icon:focus {
  outline: none;
  -webkit-animation: translate-animation 2.5s linear;
  -moz-animation: translate-animation 2.5s linear;
  animation: translate-animation 2.5s linear;
}

nav .icon:focus .dot {
  transform: translate(0, 0);
  -webkit-animation: translate-animation-reverse 2.5s linear;
  -moz-animation: translate-animation-reverse 2.5s linear;
  animation: translate-animation-reverse 2.5s linear;
}

nav .icon:focus .dot::before {
  content: "";
  position: fixed;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
}

@keyframes translate-animation {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -15px);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, -15px);
  }
  80% {
    transform: translate(0, 0);
  }
}

@keyframes translate-animation-reverse {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 15px);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 15px);
  }
  80% {
    transform: translate(0, 0);
  }
}

@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  nav {
    background: none;
    -webkit-backdrop-filter: saturate(50%) blur(20px) brightness(200%);
    backdrop-filter: saturate(50%) blur(20px) brightness(200%)
  }
}
