<div class="app">
    <div class="top">
        <div class="buttons">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <span class="address">
          <input type="text" value="fire.txt" class="address" editable="true" id="filename">
        </span>
        <div id="download">
            <i class="fa fa-cloud-download"></i>
        </div>
        <div class="clear"></div>
    </div>
    <div class="main">
        <div class="content" id="fileContent">
            <h1>Title</h1>
            <p>Content</p>
        </div>
    </div>
</div>
