<div class="app">
    <div class="top">
        <div class="buttons">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="title">
            file.txt
        </div>
        <div class="info">
            Saved status!
        </div>
        <div class="clear"></div>
    </div>
    <div class="main">
        <div class="content">
            <h1>Title</h1>
            <p>Content</p>
        </div>
    </div>
</div>
