<nav>
  <div class="icon" tabindex="0">
    <label>Finder</label>
    <img src="site-assets/images/icons/finder-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>Editor</label>
    <img id="editor" src="site-assets/images/icons/editor-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>Safari</label>
    <img src="site-assets/images/icons/safari-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>System&nbsp;Preferences</label>
    <img src="site-assets/images/icons/system-preferences-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>Mail</label>
    <img src="site-assets/images/icons/mail-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>Calendar</label>
    <img src="site-assets/images/icons/calendar-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>iBooks</label>
    <img src="site-assets/images/icons/ibooks-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>AppStore</label>
    <img src="site-assets/images/icons/appstore-icon.png"/>
    <div class="dot"></div>
  </div>
  <hr/>
  <div class="icon" tabindex="0">
    <label>Trash</label>
    <img src="site-assets/images/icons/trash-icon.png"/>
    <div class="dot"></div>
  </div>
</nav>
<script>
  $("#editor").on('click', function(event) {
    $("#app-window").load('/app/editor.html');
    event.preventDefault();
    /* Act on the event */
  });
</script>
