<nav>
  <div class="icon" tabindex="0">
    <label>Finder</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/finder-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>LaunchPad</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/launchpad-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>Safari</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/safari-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>System&nbsp;Preferences</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/system-preferences-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>Mail</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/mail-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>Calendar</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/calendar-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>iBooks</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/ibooks-icon.png"/>
    <div class="dot"></div>
  </div>
  <div class="icon" tabindex="0">
    <label>AppStore</label>
    <img src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/64/appstore-icon.png"/>
    <div class="dot"></div>
  </div>
  <hr/>
  <div class="icon" tabindex="0">
    <label>Trash</label>
    <img src="http://www.macupdate.com/images/icons256/51758.png"/>
    <div class="dot"></div>
  </div>
</nav>
