//compiler
@import 'variables';
@import 'colors';
@import 'window';
@import 'editor';

body{
  padding: 0;
  margin: 0;
  background: url("../img/bg__med.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#taskbar{
  height: 23px;
  position: absolute;
  z-index: 3;
  width: 100vw;
  background: rgba($fd, 0.9);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  .logo{
    position: relative;
    top: 3px;
    left: 8px;
  }
}
