//compiler
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import 'variables';
@import 'colors';
@import 'window';
@import 'editor';
@import 'taskbar';

body{
  padding: 0;
  margin: 0;
  background: url("../img/bg__med.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: 'Source Code Pro';
}
